/*lobster font*/
@font-face {
  font-family: lobster;
  src:url("res/Lobster 1.4.otf");
}


/* CSS included in all pages.*/
.background{
  background-image: url("img/realpopV2.png");
  background-color: hotpink;
  position: fixed;
  z-index:-1;
  background-size: cover;
  width:100%;
  height:100%;
  /*filter: blur(5px) grayscale(50%);*/
}

.navbar{
  opacity:0.8;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    text-align: center;
}

#logo{
  height: 90px;
  width: 250px;
}

#logoText{
  font-size: 300%;
  font-family: lobster;
  color:black;
}

#onlyCart{
  height:90px;
  width:100px;
}

#itemsShow{

  margin-top:20px;
  font-size: 30px;
  font-family: lobster;
}

#secondView{
  display:none;
}

.social{
  padding:30px;
  font-size: 200%;
}

.stuff{
  opacity: 0.8;
  border:2px solid black;
  background-color: white;
  border-radius: 10%;
  font-family: lobster;
}
/*-----------------------------------------------*/

/* CSS for index */

.carousel{
  width:400px;
  height:270px;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 150px;
}

.carousel-indicators {
  opacity: 0;
}

.carousel img{
  margin: auto;
  margin-bottom: 20px;

}

#input{
  margin: auto;
  margin-bottom: 90px;
  width: 600px;
}

/*------------------------------------------*/

/* CSS for selection. */

.checkbox{
  font-size: 15px;
  padding:10px;
}
/*------------------------------------------*/

/* CSS for shop */

/*------------------------------------------*/

/* CSS for chart */

/*-----------------------------------------*/
