/*lobster font*/
@font-face {
  font-family: lobster;
  src:url("res/Lobster 1.4.otf");
}

/*html{
  position:relative;
  min-height: 100%
}
body{
  margin-bottom: 100px;
}*/

/* CSS included in all pages.*/
.background{
  background-image: url("img/realpopV2.png");
  background-color: hotpink;
  position: fixed;
  z-index:-1;
  background-size: cover;
  width:100%;
  height:100%;
  /*filter: blur(5px) grayscale(50%);*/
}

.navbar{
  background: rgba(255, 255, 255, .5) !important;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  text-align: center;
}

#logo{
  height: 90px;
  width: 250px;
}

#logoText{
  font-size: 300%;
  font-family: lobster;
  color:black;
}

#onlyCart{
  height:90px;
  width:100px;
}

#itemsShow{

  margin-top:20px;
  font-size: 30px;
  font-family: lobster;
}

.foot{
  margin-top:60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info{
  font-family: lobster;
  font-size: 125%;
}

.social{
  padding:30px;
  font-size: 200%;
}

.stuff{
  background: rgba(255, 255, 255, 0.5) !important;
  /*border:2px solid black;*/
  background-color: white;
  border-radius: 10%;
  font-family: lobster;
  padding:20px;
}
/*-----------------------------------------------*/

/* CSS for index */

.carousel{
  width:400px;
  height:270px;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 150px;
}

.carousel-indicators {
  opacity: 0;
}

.carousel img{
  margin: auto;
  margin-bottom: 20px;

}

#input{
  margin: auto;
  margin-top:150px;
  margin-bottom: 120px;
  max-width: 600px;
}

#chain{
  height:100px;
  margin-left:100px;
  margin-top:30px;
  margin-bottom: 80px;
}

/*------------------------------------------*/

/* CSS for selection. */

.checkbox{
  font-size: 15px;
  padding:10px;
}

.shop{
  height:200px;
  /*width:700px;  Removed for responsiveness*/
  padding: 20px;
  margin:20px;
  border:2px solid black;
  border-radius: 5%;
}
/*------------------------------------------*/

/* CSS for shop */
#theMall{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.theShop{
  margin:20px;
}

.numbers{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.price{
  width:35px;
}

.quantity{
  width:70px;
  border-radius: 15%;
}

.add{
  width: 30px;
  height:30px;
  border-radius: 15%;
}

.shopItem{
  height:140px;
  width:140px;
  border:2px solid black;
  border-radius: 10%;
  background-color: lime;
}

/*------------------------------------------*/

/* CSS för admin grejerna */
h2{
  margin:auto;
  margin-bottom: 20px;
}

h5{
  margin: auto;
  margin-bottom:20px;
}
/*-------------------------------------------*/

/* CSS for kontakt */
#kontaktinfo{
padding:30px;
}

.form{
  height:40px;
  width:48%;
  margin:10px;
}

.tf{
  width:30% !important;
}

#confirmationStuffs{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

#confirm{
  display: flex;
  flex-direction: column;
}

/*-----------------------------------------*/

/* Some media querys*/


@media only screen and (max-width: 768px){
  #kontaktinfo{
  padding:30px;
  }

  .foot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*#onlyCart{ // not neede at the moment
    height:60px;
    width:70px;
  }*/

  #logo{
    height: 60px;
    width: 166px;
  }

  .form{
    height:40px;
    width:100%;
    margin:10px;
  }

  .tf{
    width:100% !important;
  }

  #confirmationStuffs{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #confirm{
    display: flex;
    flex-direction: column;
  }

}

@media only screen and (max-width: 650px){
  #confirmationStuffs{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .adminBtn{
    width:100%;
    margin:5px;
  }


}
/*---------------------------------------------*/

#secondView{
  display:none;
}

#thirdView{
  display:none;
}

#forthView{
  display:none;
}

#adminButik{
  display: none;
}

#adminSnacks{
  display: none;
}

#adminLog{
  display: none;
}

#loggaUt{
  display: none;
}

#adminMain{
  display:none;
}

#shopRemoval{
  display:none;
}

#shopRemoval{
  display: none;
}

#snacksRemoval{
  display:none;
}

#vanligaFragor{
  display:none;
}

#kontakt{
  display:none;
}

#omOss{
    display:none;
}

#jobb{
  display:none;
}

#hjalp{
  display:none;
}
